.header {
  .logo {
    text-decoration: none;
    color: white;
    flex-grow: 1;
  }

  .nav-links {
    display: flex;
    gap: 1rem;
    margin-right: 2rem;

    a {
      text-decoration: none;
      color: white;
    }
  }
} 